[project]
	description = Mitel SIP-DECT OMM (Mitel Open Mobility Manager) API Python SDK
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas (thomasDOTde)
[access "refs/for/refs/*"]
	read = group user/Thomas (thomasDOTde)
	push = group user/Thomas (thomasDOTde)
	label-Code-Review = -2..+2 group user/Thomas (thomasDOTde)
	label-Verified = -1..+1 group user/Thomas (thomasDOTde)
	rebase = group user/Thomas (thomasDOTde)
	removeReviewer = group user/Thomas (thomasDOTde)
	submit = group user/Thomas (thomasDOTde)
[access "refs/heads/*"]
	read = group user/Thomas (thomasDOTde)
	create = group user/Thomas (thomasDOTde)
	push = +force group user/Thomas (thomasDOTde)
	pushMerge = group user/Thomas (thomasDOTde)
[access "refs/tags/*"]
	push = group user/Thomas (thomasDOTde)
	push = +force group user/Thomas (thomasDOTde)
